<div class="col-md-4 col-md-offset-4">
    <h2>新增ORID</h2>

    <hr>
    <%= simple_form_for @orid do |f| %>

    <%= f.input :objective %>
    <br>
    <%= f.input :reflective %>
    <br>
    <%= f.input :interpretive %>
    <br>
    <%= f.input :decisional %>
    <br>

    <%= f.submit "Submit", :disable_with => 'Submiting...' %>
    <% end %>

</div>
