<div class="row">
  <div class="col-md-8">
    <div class="panel panel-default">
      <div class="panel-heading"><%= @orid.created_at.strftime('建立時間： %Y-%m-%d %H:%M') %>
        <% unless current_user == @orid.user %>
        <span class="pull-right">作者： <%= @orid.user.name %></span>
        <% end %>
      </div>
      <div class="panel-body">
        <h3>Objective</h3>
        <%= simple_format(@orid.objective) %>
        <br>
        <h3>Reflective</h3>
        <%= simple_format(@orid.reflective) %>
        <br>
        <h3>Interpretive</h3>
        <%= simple_format(@orid.interpretive) %>
        <br>
        <h3>Decisional</h3>
        <%= simple_format(@orid.decisional) %>
      </div>
      <div class="panel-footer">
        <% if @orid.editable_by?(current_user) %>
          <%= link_to '編輯', edit_orid_path(@orid), class: 'btn btn-sm btn-default' %>
          <%= link_to("刪除", orid_path(@orid),    class: "btn btn-sm btn-default",
          method: :delete, data: { confirm: "Are you sure?" } )%>
          <%= link_to 'markdown', markdown_account_orid_path, class: 'btn btn-default pull-right' %>
        <% end %>
        <%= link_to '返回', orids_path, class: 'btn btn-sm btn-default' %>
      </div>
    </div>
  </div>

  <div class="col-md-4">
    <div class="comment-list">
      <%= simple_form_for [ @orid , Comment.new ] do |f| %>
      <div class="comment-box">
        <div class="comment-box_left-block comment-text-field"  >
          <%= f.text_field :message, :label => false, class:"input-text" %>
        </div>
        <div class="comment-box_right-block submit-button">
          <%= f.submit "發送", :class => "btn-submit" %>
        </div>
      </div>
      <% end %>

      <!-- 當是自己說話時顯示右方，也就是加classname: by-self -->
      <% @orid.comments.each do |comment| %>
      <div class="comment <%= comment.user == current_user ? 'by-self' : 'by-others'%>">
        <div class="comment_account">
          <i class="material-icons" title="<%= comment.user.name %>">account_circle</i>
          <%= render_user_avatar(comment.user) %>
        </div>
        <div class="comment_mesg"><%= comment.message %></div>
      </div>
      <% end %>
      <div class="comment-clear"></div>
    </div>
  </div>
</div>








