<div class="row">
  <div class="col-md-12">
    <div class="panel panel-default">
      <div class="panel-heading"><%= @orid.created_at %>
      <% unless current_user == @orid.user %>
        <span class="pull-right">作者： <%= @orid.user.name %></span>
      <% end %>
      </div>
      <div class="panel-body">
        <h3>Objective</h3>
        <%= simple_format(@orid.objective) %>
        <br>
        <h3>Reflective</h3>
        <%= simple_format(@orid.reflective) %>
        <br>
        <h3>Interpretive</h3>
        <%= simple_format(@orid.interpretive) %>
        <br>
        <h3>Decisional</h3>
        <%= simple_format(@orid.decisional) %>
      </div>
      <div class="panel-footer">
        <% if @orid.editable_by?(current_user) %>
          <%= link_to '編輯', edit_orid_path(@orid), class: 'btn btn-sm btn-default' %>
          <%= link_to("刪除", orid_path(@orid),    class: "btn btn-sm btn-default",
            method: :delete, data: { confirm: "Are you sure?" } )%>
        <% end %>
        <%= link_to '返回', orids_path, class: 'btn btn-sm btn-default' %>

      </div>
    </div>
  </div>
</div>
