<%= link_to '設定金鑰', new_item_trade_tracking_path, class: 'btn btn-danger' %>

<div class="row">
  <div class="col-md-6 col-centered">
  <div class="well">
    當前總共 BTC ： <%= @total_btc.blank? == true ? "金鑰資訊錯誤或是未填寫" : @total_btc %>
  </div>
    <div class="panel panel-default">
      <div class="panel-heading">虛擬幣行情追蹤</div>
      <div class="panel-body">
        <div class="dropdown clearfix pull-right">
          <button class="btn btn-default dropdown-toggle" type="button" id="dropdownMenuDivider" data-toggle="dropdown" aria-haspopup="true" aria-expanded="true">
          幣別
          <span class="caret"></span>
          </button>
          <ul class="dropdown-menu" aria-labelledby="dropdownMenuDivider">
            <li>
              <%= link_to("TWD", item_trade_tracking_index_path(currency: "TWD")) %>
            </li>
            <li>
              <%= link_to("CNY", item_trade_tracking_index_path(currency: "CNY")) %>
            </li>
          </ul>
        </div>
        <table class="table table-hover">
          <thead>
            <tr>
              <th>名稱</th>
              <th>P網價格</th>
              <th>雲幣價格</th>
              <th>Maicoin</th>
              <th>幣托</th>
              <th>OKcoin</th>
            </tr>
          </thead>
          <tbody>
            <tr>
              <td>BTC</td>
              <td><%= @usdt_btc.round(2) %> <%= @currency %></td>
              <td><%= @btc_yunbi.round(2) %> <%= @currency %></td>
              <td><%= @btc_maicoin.round(2) %> <%= @currency %></td>
              <td><%= @btc_bitoex.round(2) %> <%= @currency %></td>
              <td><%= @btc_okcoin.round(2) %> <%= @currency %></td>
            </tr>
            <tr>
              <td>ETH</td>
              <td><%= @usdt_eth.round(2) %> <%= @currency %></td>
              <td><%= @eth_yunbi.round(2) %> <%= @currency %></td>
            </tr>
            <tr>
              <td>ZEC</td>
              <td><%= @usdt_zec.round(2) %> <%= @currency %></td>
              <td><%= @zec_yunbi.round(2) %> <%= @currency %></td>
            </tr>
            <tr>
              <td>SC</td>
              <td><%= @usdt_sc.round(2) %> <%= @currency %></td>
              <td><%= @sc_yunbi.round(2) %> <%= @currency %></td>
            </tr>
            <tr>
              <td>DGB</td>
              <td><%= @usdt_dgb.round(2) %> <%= @currency %></td>
              <td>暫無資料</td>
            </tr>
          </tbody>
        </table>
      </div>
    </div>
  </div>
</div>
