<div class="account-card">
    <h2 class="main-title">個人資料</h2>
    <%= render_paid_status(current_user) %>
    <div class="account-profile">
      <%= simple_form_for [:account,@user] do |f| %>
      <div class="input-block">
        <span>頭像</span>

        <div class="image-block-circle">
            <div class="gradient"></div>
            <div class="image-block">
                <i class="material-icons">&#xE853;</i>
                <%= render_user_avatar(current_user) %>
                <img class="preview">
            </div>
        </div>

        <div class="size"></div>
        <div class="upload-state text-red">
            Please upload a picture smaller than 1 MB.
        </div>
        <%= f.input :avatar, label: false %>

        <span>用戶名</span>
        <%= f.input :name, as: :string, label: false %>
        <%= f.submit "更新資料", class: "btn btn-theme", id:"account-update" %>
      </div>
      <% end %>
    </div>
</div>


