<div class="row">
  <div class="col-md-8 col-centered">
    <div class="panel panel-default">
      <div class="panel-body">
        <table class="table table-hover">
          <thead>
            <tr>
              <td>#</td>
              <td>商品名稱</td>
              <td>摘要</td>
              <td>所需點數</td>
              <td>綁定事件</td>
              <td>立即購買</td>
            </tr>
          </thead>
          <tbody>
            <% @items.each do |item| %>
            <tr>
              <td>#</td>
              <td><%= item.name %></td>
              <td><%= item.description %></td>
              <td><%= item.point %></td>
              <td><%= item.event %></td>
              <td><%= link_to 'Buy' %></td>
            </tr>
            <% end %>
          </tbody>
        </table>
      </div>
    </div>
  </div>
</div>
